.input {
    

}
.searchbtn {
    background-color: blue;
    padding: 10px 10px;
    border-radius: 7px;
    color: white;
    
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}